// Body
$body-bg: #f8fafc;

// Colors
$white: #fff;
$gray: #f5f5f5;
$black: #000;
$gold: #ffac12;
$dgold: linear-gradient(
    225.52deg,
    #271a00 0.45%,
    rgba(0, 0, 0, 0.982162) 100.47%
);

// Typography
$font-family-sans-serif: "DM Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

html,
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span {
    margin-bottom: 0;
    color: $black;
    font-family: $font-family-sans-serif;
}

h1 {
    font-size: 80px;
    line-height: 80px;
    font-weight: 700;
}

h2 {
    font-size: 50px;
    line-height: 58px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

h4 {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
}

p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 100;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

// Container Width
.container {
    max-width: 1070px;
}

// Links
a,
a:visited,
a:hover,
a:active {
    // color: inherit;
    text-decoration: none;
}

.nav-link {
    color: $white;
}

// Buttons
.btn-default {
    display: block;
    width: fit-content;
    padding: 25px 40px;
    color: $black;
    background-color: $gold;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    border-top-right-radius: 18px;
    transition: 0.3s;
    border: solid 3px transparent;

    &:hover {
        background: $black;
        color: $white;
        border-color: $gold;

        img {
            transform: translateX(20px);
        }
    }

    &.btn-black {
        color: $white;
        background-color: $black;

        &:hover {
            color: $black;
            background-color: $gold;
            border-color: $black;

            img {
                filter: brightness(0%);
            }
        }
    }

    img {
        margin-left: 10px;
        transition: 0.3s;
    }
}

// Divider
.divider {
    border: none;
    height: 4px;
    width: 170px;
    background: linear-gradient(90deg, #ffac12 0%, #000000 100%);
    border-radius: 2px;
    margin-bottom: 17px;
}

// Borders
$thin-gray-border: solid 1px #e4e4e4;
